<h1 class="title">To Do List</h1>

<div class="container">

  <div class="col-md-12 text-center">
    <%= link_to "Ajouter une nouvelle tâche", tasks_new_path, class: "add-button"%>
  </div>

  <div class="taskcards">
  <% @tasks.each do |task| %>
    <div class="taskcard">

      <div class="description">
        <h3><%= task.title %></h3>
        <p><%= task.details %></p>
      </div>

      <div class="update-link">
        <%= link_to "Modifier", task_edit_path(task), class: "text-decoration-none link" %>
        <%= link_to "Supprimer", task_delete_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none link" %>
      </div>
    </div>
  <% end %>
  </div>

</div>

